@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.app{
    width: 100vw;
    height: 100vh;
    background-color: rgb(90, 115, 107);
    color: wheat;
    

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_box{
    padding: 10px;
    font-size: medium;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 50%;

}
.app_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_btn{
    padding: 10px;
    border: none;
    outline: none;
    margin: 20px;
    cursor: pointer;
}
.book_info_div{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

table,th,td{
    
    border: 1px solid black;
   width: 60vw;
   height: 10vh;
    border-collapse: collapse;
    background-color: burlywood;
    color: black;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size:x-large;
}
